# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Logs
logs/
*.log
*.out
*.err
log/
debug.log
error.log

# Environment Variables
.env

# Build Artifacts
dist/
build/

# IDE & OS Files
.DS_Store
.vscode/
.idea/
*.swp
*.swo
